main {
    margin-top: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 700px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

p {
    line-height: 1.5; /* 줄 간격 */
}

ul {
    padding-left: 20px; /* 들여쓰기 조절 */
}
