* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {
    border-bottom: 1px solid lightgray;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

nav > a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    width: 100%;
    height: 100px;
}

footer > p {
    color: rgb(103, 103, 103);
}