main {
    margin-top: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 700px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

div > h2 {
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}

.icon > a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

