main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 150px;
    text-align: center;
}

.main_section {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#profile_img {
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.3);
}

.introduce p:nth-of-type(2) {
    color: darkgray;
    font-size: 14px;
}

.introduce p:nth-of-type(3) {
    margin-top: 20px;
    font-size: large;
    line-height: 1.5; /* 줄 간격 */
}

.interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px;
    
}

.interests > div {
    margin-top: 10px;
}

.interests > div > span {
    border-radius: 9999px; /* rounded-full */
    background-color: rgb(238, 238, 238);
    padding: 10px 15px;
    margin: 10px;
}

