h1, h3 {
    text-align: center;
}

img {
    width: 100%;
    height: 300px;
}

#calendar {
    width: 100%;
    border-collapse: collapse;
}

#calendar th, td {
    width: 14%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

#calendar th {
    background-color: lightgray;
}

#calendar th:first-child, 
#calendar td:first-child {
    color: red;
}

#calendar th:last-child, 
#calendar td:last-child {
    color: blue;
}